.header {
  background-color: #0a0909;
  height: 123px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}
a {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
  line-height: 21px;
  padding-right: 50%;
}
