.footer {
  height: 132px;
  background-color: #0a0909;
  color: #fbfbfb;
  display: flex;
  justify-content: space-around;
}
img {
  width: 64.06px;
  height: 66px;
}
.container {
  display: flex;
  align-items: flex-end;
  gap: 50px;
}
